@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-aerojet-navy: #002a5c;      /* Deepest Blue */
  --color-aerojet-blue: #2c3e50;      /* Dark, desaturated blue */
  --color-aerojet-sky: #2880b9;       /* Primary Sky Blue (replaces gold) */
  --color-aerojet-soft-blue: #4c9ded; /* Lighter blue for hovers/accents */
  --color-aerojet-light-gray: #f9f9f9; /* Backgrounds */
}

html, body {
  height: 100%;
  background-color: #f8fafc;
  color: #0f172a;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}